<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fCMToken">
            <h2><span>FCM Token</span> {{ fCMToken.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Token</span></dt>
                <dd>
                    <span>{{ fCMToken.token }}</span>
                </dd>
                <dt><span>App User Id</span></dt>
                <dd>
                    <span>{{ fCMToken.appUserId }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/fcm-token', fCMToken.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
