<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="trip">
            <h2><span>Trip</span> {{ trip.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ trip.name }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ trip.description }}</span>
                </dd>
                <dt><span>Created Date</span></dt>
                <dd>
                    <span>{{ trip.createdDate }}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <div *ngIf="trip.createdById">
                        <a [routerLink]="['/app-user', trip.createdById, 'view']">{{ trip.createdById }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/trip', trip.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
